---
layout: nil
---
@charset "UTF-8";

/***************************************************
 *                                                 *
 *  Site name:  Ben Cohen                          *
 *  Site URI:   http://brianzelip.github.io/cohen  *
 *  Author:     Brian Zelip                        *
 *  Author URI: http://zelip.me                    *
 *                                                 *
 ***************************************************

    TABLE OF CONTENTS

    01. Normalize
    02. Scaffolding and type
    03. Grid
    04. Sections

*/

{% include normalize.bz.css %}

/* Scaffolding and type
   ========================================================================== */
html {
  font-size: 16px;
}

@media (min-width: 45em) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  font: 1rem/1.5 "Open Sans", sans-serif;
  color: #;
}

{% include grid.bz.css %}