/* Scaffolding and type
   ========================================================================== */

html {
  font-size: 16px;
}

@media (min-width: 45em) {
  html {
    font-size: 20px;
  }
}

body {
  height: 100vh;
  margin: 0;
  font: 1rem/1.5 'Source Serif Pro';
  color: #ecf0f1;
  background-color: #34495e;
  text-rendering: optimizelegibility;
}

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 45em) {
  .container {
    max-width: 50rem;
    margin: 0 auto;
  }
}

p {
  margin: 0 0 1rem 0;
}

p:last-child {
  margin-bottom: 0;
}